{% extends 'include/base.html' %}
{% load udf_filter %}
{% block title %}
SqlAduit
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/ince_work.css">
{% endblock %}



{% block body_body %}
    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">

                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>工单ID</th>
                                    <th>工单标题</th>
                                    <th>主库地址</th>
                                    <th>库名</th>
                                    <th>提交时间</th>
                                    <th>工单说明</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for item in audit_sql_info %}
                                        <tr id="work_info">
                                            <td id="work_order_id"><a>{{ item.work_order_id }}</a></td>
                                            <td id="work_title">{{ item.work_title }}</td>
                                            <td id="master_host">{{ item.master_host }}</td>
                                            <td id="db_name">{{ item.db_name }}</td>
                                            <td id="r_time">{{ item.r_time }}</td>
                                            <td id="comm">{{ item.comm }}</td>
                                        </tr>
                                        <tr class="detail_close">
                                            <td colspan="6">
                                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                    <thead>
                                                        <tr class="">
                                                            <td>sql序号</td>
                                                            <td>执行结果</td>
                                                            <td>错误信息</td></td>
                                                            <td>sql内容</td>
                                                            <td>影响行数</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rows in detail_sql_info %}

                                                        <tr>
                                                            {% if item.work_order_id == rows.work_order_id %}
                                                                <td>{{ rows.inceptionauditdetail__sql_sid }}</td>
                                                                <td>{{ rows.inceptionauditdetail__status }}</td>
                                                                <td>
                                                                    {% for line in rows.inceptionauditdetail__error_msg|udf_split %}
                                                                        <p>{{ line }}</p>
                                                                    {% endfor %}
                                                                </td>
                                                                <td>{{ rows.inceptionauditdetail__sql_content }}</td>
                                                                <td>{{ rows.inceptionauditdetail__aff_row }}</td>
                                                            {% endif %}
                                                        </tr>

                                                    {% endfor %}
                                                </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="/static/js/ince_work.js"></script>
    <script src="/static/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables-plugins/dataTables.bootstrap.min.js"></script>

{% endblock %}