{% load udf_filter %}
<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr class="">
            <td>sql序号</td>
            <td>执行结果</td>
            <td>错误信息</td></td>
            <td>sql内容</td>
            <td>影响行数</td>
        </tr>
    </thead>
    <tbody>
    {% for rows in detail_sql_info %}

        <tr>
            {% if item.work_order_id == rows.work_order_id %}
                <td>{{ rows.inceptionauditdetail__sql_sid }}</td>
                <td>{{ rows.inceptionauditdetail__status }}</td>
                <td>
                    {% for line in rows.inceptionauditdetail__error_msg|udf_split %}
                        <p>{{ line }}</p>
                    {% endfor %}
                </td>
                <td>{{ rows.inceptionauditdetail__sql_content }}</td>
                <td>{{ rows.inceptionauditdetail__aff_row }}</td>
            {% endif %}
        </tr>

    {% endfor %}
    </tbody>
</table>