
    <div class="form-group">
        <input id="groupid" style="display: none;" />
        <span>GroupName</span>
        <input id="groupname" class="form-control" name="groupname" type="text" />
    </div>
    <div class="form-group">
        <span>Description</span>
        <input id="groupdesc" class="form-control"  name="groupdesc" type="text" />
    </div>
    <div style="color: red;">
        <p id="groupadd_err_msg">
        </p>
    </div>
     <input id="group_add_button" type="button" class="btn btn-lg btn-primary btn-block"  value="Commit"/>

