{% extends 'include/base.html' %}
{% load udf_filter %}
{% block title %}
GetMetaData
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/metadata.css"/>
{% endblock %}


{% block body_body %}
    <div style="position: relative; top: 20px" >
        <div class="body_left" style="width: 250px; position: absolute;">
            <div>
                <label>选择主机</label>
                <select class="form-control host_list" name="host_ip">
                    {% for item in host_info %}
                        <option value="{{ item.host_ip }}">{{ item.host_ip }}</option>
                    {% endfor %}

                </select>
                <label class="base_info">选择库</label>
                    <select class="form-control db_list" name="table_schema">
                        {% for item in db_info %}
                            <option value="{{ item.schema_name }}">{{ item.schema_name }}</option>
                        {% endfor %}

                    </select>
                <label class="base_info">选择表</label>
                <select class="form-control table_list">
                    {% for item in table_list %}
                        <option>{{ item.table_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="body_right" style="position: absolute; float: right; left: 280px; width:600px;">
            <div class="base_info">
                <label>表信息</label>
                <table class="table table-bordered table-hover" id="table_info">
                    <tbody>
                        <tr>
                            <th>表名</th><td id="table_name"></td>
                            <th>引擎</th><td id="engine"></td>
                            <th>行格式</th><td id="row_format"></td>
                            <th>表行数</th><td id="table_rows"></td>
                        </tr>
                        <tr>
                            <th>平均行长度</th><td id="avg_row_length"></td>
                            <th>最大行长度</th><td id="max_data_length"></td>
                            <th>数据长度</th><td id="data_length"></td>
                            <th>索引长度</th><td id="index_length"></td>
                        </tr>
                        <tr>
                            <th>空闲数据大小</th><td id="data_free"></td>
                            <th>碎片大小</th><td id="chip_size"></td>
                            <th>当前自增值</th><td id="auto_increment"></td>
                            <th>表的校验码</th><td id="table_collation"></td>
                        </tr>
                        <tr>
                            <th>创建时间</th><td id="create_time"></td>
                            <th>更新时间</th><td id="update_time"></td>
                            <th>检查时间</th><td id="check_time"></td>
                            <th>表说明</th><td id="table_comment"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="colume_info base_info">
                <label>列信息</label>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>列名</th>
                            <th>列类型</th>
                            <th>列校验码</th>
                            <th>是否为空</th>
                            <th>column_key</th>
                            <th>默认值</th>
                            <th>扩展信息</th>
                            <th>权限</th>
                            <th>列说明</th>
                        </tr>
                    </thead>
                    <tbody>
{#                    {% if column_info %}#}
{#                        {% for item in column_info %}#}
{#                            <tr>#}
{#                                <td>{{ item.column_name }}</td>#}
{#                                <td>{{ item.column_type }}</td>#}
{#                                <td>{{ item.collation_name }}</td>#}
{#                                <td>{{ item.is_nullable }}</td>#}
{#                                <td>{{ item.column_key }}</td>#}
{#                                <td>{{ item.column_default }}</td>#}
{#                                <td>{{ item.extra }}</td>#}
{#                                <td>{{ item.privileges }}</td>#}
{#                                <td>{{ item.column_comment }}</td>#}
{#                            </tr>#}
{#                         {% endfor %}#}
{#                    {% endif %}#}
                    </tbody>

                </table>
            </div>
            <div class="index_info base_info">
                <label>索引信息</label>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>列名</th>
                            <th>是否唯一索引</th>
                            <th>索引名</th>
                            <th>列序列</th>
                            <th>基数</th>
                            <th>是否是空</th>
                            <th>索引类型</th>
                            <th>索引说明</th>
                        </tr>
                    </thead>
                    <tbody>
{#                    {% if index_info %}#}
{#                        {% for item in index_info %}#}
{#                            <tr>#}
{#                                <td id="column_name"></td>#}
{#                                <td id="non_unique"></td>#}
{#                                <td id="index_name">{{ item.index_name }}</td>#}
{#                                <td id="seq_in_index">{{ item.seq_in_index }}</td>#}
{#                                <td id="cardinality">{{ item.cardinality }}</td>#}
{#                                <td id="nullable">{{ item.nullable }}</td>#}
{#                                <td id="index_type">{{ item.index_type }}</td>#}
{#                                <td id="index_comment">{</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
                    </tbody>
                </table>
            </div>
            <div class="sql_info base_info">
                <label>建表语句</label>
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                    <td id="sql_content">

{#                        {% for line in table_sc.0.content|udf_split_4:'  ' %}#}
{#                            {{ line}}<br>#}
{#                        {% endfor %}#}

                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="clear: both"></div>

{% endblock %}

{% block js %}
    <script src="/static/js/metadata.js"></script>
{% endblock %}