<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login Aquila</title>
    <link rel="stylesheet" type="text/css" href="/static/css/account.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign in to Aquila</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                                <div class="form-group">
                                    {{ login_form.username }}
                                </div>

                                <div class="form-group">
                                    {{ login_form.password }}
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox">Remember Me
                                    </label>
                                    <label style="float: right;">
                                        <a href="{% url 'register' %}" style="padding: initial;">Create an account.</a>
                                    </label>
                                </div>
                                <div>
                                    <span class="account_error">{{ form_error }}</span>
                                </div>
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Login"/>
                        </form>
                    </div>
                </div>
                <div class="panel-body" style="display: none">
                    <div class="checkbox">
                        <label>
                            New to Aquila?
                        </label>
                        <label style="float: right;">
                            <a style="padding: initial;" href="#">Create an account.</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
</html>