{% extends 'include/base.html' %}
{% load udf_tags %}

{% block body_body %}
<div class="form-group">

    {% if slow_obj %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>库名</th>
                    <th>总执行次数</th>

                    <th>总执行时间</th>
                    <th>最大执行时间</th>
                    <th>最小执行时间</th>

                    <th>总锁定时间</th>
                    <th>最大锁定时间</th>
                    <th>最小锁定时间</th>
                </tr>
            </thead>
            <tbody>
            {% build_optimize_recodes slow_obj %}
            </tbody>
        </table>
        <div>
        <p>SQL 文本:</p>
            <code>{{ slow_obj.0.sample }}</code>
        </div>
        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}
{#        显示执行计划#}
        {% if explain_result %}
            <p>执行计划:</p>
            {% build_explain_info explain_col explain_result %}
        {% endif %}

{#        显示表相关信息#}
        {% if table_info_dict %}
            {% build_slow_query_rely_info table_info_dict %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block js %}
    <script src="/static/js/slow_query.js"></script>
{% endblock %}